__pycache__
*.pyc
*.out
.env
.chainlit/
results/
ollama*
quality*
test*
agents/__pycache__
action_space/__pycache__
tool_space/__pycache__
figures/*
figures/
sbatch_logs/
sbatch_logs*
data/
data/*
targetID.csv
auto2fa.py
targetID-random*
targetID-semantic*
test.script
sample.json
medea.script

# temp file
task.script
session*
user_query_task.py
rich_snippets.json
agent.log
medea_env.yml
test.py
celltype.csv
text2.py

evaluation/.DS_Store
evaluation/immune_therapy/
evaluation/target_id/
get-pip.py
medea-MCF743-e6.csv
samon-nonsl-total.csv
samson-sl-total.csv
sl_sampling.py
